/* Variables */
:root {
  --blue: #007bff;
  --white: white;
  --black: #444;
  --grey: #d2d8e0;
  --dark-grey: #777;
  --light-blue:#c6d7f2;
}


/* Global */
body {
  text-align: center;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
/* define text node in global with rems */
h1 {
  font-size: 4rem;
  margin: 1em;
}
h2 {
  font-size: 3rem;
  margin-bottom: .4em;
  color: var(--black)
}
h3 {
  font-size: 1.8rem;
  margin-bottom: .4em;
  color: var(--black)
}
p {
  color: var(--dark-grey);
}
hr {
  width: 4em;
  background-color: var(--blue);
  height: .12em;
}

.wrapper {
   padding: 1rem .8rem 1rem .8rem;
}
.block {
  background-color: var(--white);
  box-shadow: .2em .2em .8em .01em var(--grey);
  padding: 2em;
  /* first is horizontal
  2nd is vertical
  3rd is blur - higher the number the softer the blru
  4th is spead*/
}

.icon {
  color: var(--blue);
  font-size: 2.5em;
}

button {
  color: var(--white);
  background: var(--blue);
  border: none;
  padding: .5em 2em;
  border-radius: 2em;
  cursor: pointer;
  box-shadow: .2em .2em .8em .01em var(--grey);
}
button:hover {
  color: var(--blue);
  background:var(--white);
  border: .04em solid var(--blue);
  margin: -.05em;
  box-shadow: .3em .3em .4em .1em var(--grey);

}

/* Header */
header{
  width: 100%;
  position: absolute;
}
header .wrapper {
  padding: 0;
}
header .logo {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
header .logo i {
  color: white;
}
/* Navbar */
nav ul {
  list-style-type: none;
  padding: 0;
  border-bottom: .05em solid var(--black);
  position: absolute;
  z-index: 1;
  width: 100%;
  background: var(--white);
}
nav ul.hidden{
  display: none;
}
nav ul li a {
  text-decoration: none;
}
nav ul li {
  padding: 1em 0;
  border-top: .05em solid var(--black);
}


/* Showcase */
#showcase .wrapper {
  background-position: center;
  background-size: cover;
  height: 35rem;
  color: var(--white);

}

/* Services */


/* About Us */
#why-us img{
  width: 200px;
  height: 200px;
}

/* footer */
footer nav ul {
  border: none;
}
footer nav ul li{
  border: none;
  padding: .5em 0;
}
