{% extends  'webpage/index.html'%}

{% block content %}
<section id="showcase">
  <div class="wrapper" style='background-image: url("{{home.image.url }}")'>
    <div class="text">
      <h1>{{ home.title }}</h1>
      <p>{{ home.title }}</p>
    </div>
  </div>
</section>


<!-- Services -->

<section id="services">
  <div class="wrapper">
      <div class="text">
        <h2>{{ services_header.title }}</h2>
        <hr>
      <p>{{ services_header.content }}</p>

    </div>

{% for service in services %}
  <div class="wrapper">
    <div class="block">
      <div class="text">
        <i class="{{ service.icon }} icon"></i>
        <h3>{{ service.title }}</h2>
        <p>{{ service.content }}</p>
        <button>Learn More</button>
      </div>
    </div>
  </div>
{% endfor %}

  </div>
</section>

<!-- Why Us -->
<section id="why-us">
  <div class="wrapper">
    <div class="text">
      <h2>{{ why_us.title }}</h2>
      <hr>
      <p>{{ why_us.content }}</p>
      <img src="{{ why_us.image.url }}" alt="">
    </div>
  </div>
</section>


<!-- More -->
<section id="more">
  <div class="wrapper">

    <div class="block">
      <div class="text">
        <h2>{{ careers.title }}</h2>
        <hr>
        <p>{{ careers.content }}</p>
        <button>Learn More</button>
      </div>
    </div>

    <div class="block">
      <div class="text">
        <h2>{{ about_us.title }}</h2>
        <hr>
        <p>{{ about_us.content }}</p>
        <button>Learn More</button>
      </div>
    </div>
  </div>

</section>
{% endblock %}
