<section id="services">
  <div class="wrapper">

    <div class="block">
      <div class="text">
        <h2>{{ services_header.title }}</h2>
        <hr>
        <p>{{ services_header.content }}</p>
      </div>
    </div>



    <div class="block">
      <div class="text">
        <i class="fas fa-laptop-code"></i>
        <h2>{{ service_1.title }}</h2>
        <p></p>
        <hr>
        <button>Learn More</button>
      </div>
    </div>

    <div class="block">
      <div class="text">
        <i class="fas fa-users"></i>
        <h2>{{ service_2.title }}</h2>
        <p></p>
        <hr>
        <button>Learn More</button>
      </div>
    </div>

    <div class="block">
      <div class="text">
        <i class="fas fa-chart-line"></i>
        <h2>{{ service_3.title }}</h2>
        <p></p>
        <hr>
        <button>Learn More</button>
      </div>
    </div>


  </div>
</section>
